<a href="https://colab.research.google.com/github/JorgeSedek/tp1_orga_datos/blob/main/P31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

P31) Para las películas con ROI (Return of Investment) entre -10 y 10 consiga una serie que tenga como índice cada país donde se produjeron películas y como valores el promedio del ROI. ¿Cuáles son los 5 países más rentables para producir una película

In [ ]:
df_peliculas = pd.read_csv('/content/drive/MyDrive/orgaDatos/Movie dataset/movies.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df_peliculas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 43021 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   33585 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [ ]:
 df_peliculas['budget'].unique()

array(['30000000', '65000000', '0', ..., '3417000', '25868826', '1254040'],
      dtype=object)

In [ ]:
df_peliculas['budget'] = df_peliculas['budget'].fillna(0)
peliculas_budget = df_peliculas[df_peliculas['budget'].astype('string').map(lambda x: x.isnumeric())]
peliculas_budget.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45463 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45463 non-null  object
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45463 non-null  object
 3   genres                 43021 non-null  object
 4   homepage               7779 non-null   object
 5   id                     45463 non-null  object
 6   imdb_id                45446 non-null  object
 7   original_language      45452 non-null  object
 8   original_title         45463 non-null  object
 9   overview               44509 non-null  object
 10  popularity             45460 non-null  object
 11  poster_path            45077 non-null  object
 12  production_companies   33585 non-null  object
 13  production_countries   45460 non-null  object
 14  release_date           45376 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.7+ MB

In [ ]:
peliculas_budget['budget'] = peliculas_budget['budget'].astype('float64')
peliculas_validas = peliculas_budget[peliculas_budget['budget'] > 0]
peliculas_validas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8890 entries, 0 to 45422
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  8890 non-null   object
 1   belongs_to_collection  1585 non-null   object
 2   budget                 8890 non-null   float64
 3   genres                 8832 non-null   object
 4   homepage               2755 non-null   object
 5   id                     8890 non-null   object
 6   imdb_id                8888 non-null   object
 7   original_language      8890 non-null   object
 8   original_title         8890 non-null   object
 9   overview               8843 non-null   object
 10  popularity             8890 non-null   object
 11  poster_path            8883 non-null   object
 12  production_companies   8158 non-null   object
 13  production_countries   8890 non-null   object
 14  release_date           8886 non-null   object
 15  revenue                8890 non-null   float64
 16  runtime                8880 non-null   float64
 17  spoken_languages       8890 non-null   object
 18  status                 8887 non-null   object
 19  tagline                6684 non-null   object
 20  title                  8890 non-null   object
 21  video                  8890 non-null   object
 22  vote_average           8890 non-null   float64
 23  vote_count             8890 non-null   float64
dtypes: float64(5), object(19)
memory usage: 1.7+ MB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
peliculas_validas["ROI"] = ((peliculas_validas["revenue"] - peliculas_validas["budget"]) / peliculas_validas["budget"]).dropna()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
peliculas_validas["production_countries"] = peliculas_validas["production_countries"].astype('string').fillna('')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
def separar_paises(texto):
  texto = texto.split(",")
  paises = []

  for elemento in texto:
    if ("name" in elemento):
      elemento = elemento.split(":")
      elemento = elemento[1].strip("[]'{}'").strip()
     
      paises.append(elemento[1:])
  
      
  return paises


peliculas_validas["paises"] = peliculas_validas["production_countries"].map(separar_paises)
df_peliculas_paises = peliculas_validas.explode("paises")
df_peliculas_paises = df_peliculas_paises.dropna()

budget = df_peliculas_paises["budget"].loc[df_peliculas_paises["budget"] > 0]
revenue = df_peliculas_paises["revenue"].loc[df_peliculas_paises["budget"] > 0]
paises =  df_peliculas_paises["paises"].loc[df_peliculas_paises["budget"] > 0]

ROI = (revenue - budget) / budget
frame = { 'paises': paises, 'ROI': ROI }
df_ROI = pd.DataFrame(frame)

ROI_filtr = df_ROI["ROI"].loc[(df_ROI["ROI"] > -10) & (df_ROI["ROI"] < 10)]
paises_filtr = df_ROI["paises"].loc[(df_ROI["ROI"] > -10) & (df_ROI["ROI"] < 10)]
frame_roi = { 'paises': paises_filtr, 'ROI': ROI_filtr }
df_ROI_filtr = pd.DataFrame(frame_roi)
df_paises_roi = df_ROI_filtr.groupby(['paises']).agg({'ROI':'mean'})

df_paises_roi = df_paises_roi.reset_index()
rentables = list(df_paises_roi ['ROI'].nlargest(5))
rentables
paises_rentables = df_paises_roi[df_paises_roi['ROI'].isin(rentables)]
paises_rentables.sort_values(by='ROI').reset_index()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

   index       paises       ROI
0     13      Iceland  4.080932
1     21  Netherlands  4.857837
2      7      Denmark  4.962985
3     27       Sweden  5.603673
4     24       Russia  8.253028

In [ ]:
Los 5 paises más rentables son Islandia, Paises Bajos, Dinamarca, Suecia y Rusia.